.imgage img{
	display:inline;
	margin:3px;
	border:1px solid #bebebe;
	width:200px;
	height:160px;
}
.imgage{
	margin:3px;
	border:1px solid #bebebe;
	height:auto;
	float:left;
	text-align:center;
	opacity:0.5;
}
.imgage:hover{
	opacity:1.0;
}
.imgage a:hover img{
	border:1px solid #333333;
}
.desc{
	font-size:12px;
	text-align:normal;
	width:200px;
	margin:10px 5px 10px 5px;

}
.imgage{
	float:left;
	text-align:center;
	z-index:2;
}
